/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image:url('../img/fundo_site.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -300px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  /*font-weight: bold;*/
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

/*
* SC Customized
*/

.sc-input {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #aaaaaa;
    text-align:center;
    color: #ffffff;
}

.sc-btn {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    text-shadow: none;
    background-color: #D9125D;
    border: 0px solid #fff;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
}


.sc-btn:hover {
    background-color: hotpink;
    text-decoration: none;
    color: white;
}

.sc-div {
    padding: 20px;

}

.sc-btn-nav
{
    border: solid 1px #aaaaaa;
    padding: 0 10px;
}

.md-datepicker-input {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #aaaaaa;
    text-align:center;
    color: #ffffff;
    height: 46px;
    padding: 10px 50px;
    font-size: 18px;
    line-height: 1.3333333;
}


.md-button {
    background-color: #545454;
    opacity: .50;
}
.md-button:not([disabled]).md-icon-button:hover {
    background-color: #545454;
    opacity: 0.80;
}

.md-button:not([disabled]).md-icon-button:focus {
    background-color: #545454;
    opacity: 0.50;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}
